{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-政府歷史統計資料{% endblock %}
{% block content %}
<div class='text-dark'>
	<form name="my form" action="/" method="GET">
		<label for="byear">年</label>
		<select name="byear">
			{% for year in years %}
			<option value='{{ year }}'>{{ year }}</option>
			{% endfor %}
		</select>
		
		<label for="bmonth">月</label>
		<select name="bmonth">
			{% for month in months %}
			<option value='{{ month }}'>{{ month }}</option>
			{% endfor %}
		</select>	
		
		<label for="bday">日</label>
		<select name="bday">
			{% for day in days %}
			<option value='{{ day }}'>{{ day }}</option>
			{% endfor %}
		</select>
		<input type="submit">	
	</form> 
  </div>
<h2 class="text-dark">2019/10 臺北區歷史數據圖表</h2>

{% for p in location1 %}
<p>{{p.year}}</p>
{% endfor %}

{% endblock %}