{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-政府歷史統計資料{% endblock %}
{% block content %}
<div class='text-dark' id="luke4">
		<label class='text-dark'>年:</label>
    	<select>
    	<option>請選擇年:</option>
    	<option>2019</option>
		</select>
    	<label class='text-dark'>月:</label>
    	<select>
    	<option>請選擇月</option>
    	<option>12</option>
		</select>
    	<label class='text-dark'>週:</label>
    	<select>
    	<option>請選擇週</option>
    	<option>1</option>
		</select>
    	<input type="submit" name="station" class='btn-primary'>
  </div>
<h2 class="text-dark">2019/10 臺北南港區歷史數據圖表</h2>
<div class="row text-dark" id="luke4">
	<div class="col-4">
		{%　load static %}
		<div><h3>O3</h3></div>
    	<img src="{% static 'main/img/data1.png' %}" width=100%>
	</div>
	<div class="col-4">
		<div><h3>CO</h3></div>
		<img src="{% static 'main/img/data2.png' %}" width=100%>
	</div>
	<div class="col-4">
		<div><h3>溫度</h3></div>
		<img src="{% static 'main/img/data3.png' %}" width=100%>
	</div>
</div>
<hr>
<div class="row text-dark">
	<div class="col-4">
		{%　load static %}
		<div><h3>Co2</h3></div>
    	<img src="{% static 'main/img/data4.png' %}" width=100%>
	</div>
	<div class="col-4">
		<div><h3>SO2</h3></div>
		<img src="{% static 'main/img/data5.png' %}" width=100%>
	</div>
	<div class="col-4">
		<div><h3>PM2.5</h3></div>
		<img src="{% static 'main/img/data6.png' %}" width=100%>
	</div>
</div>
{% endblock %}