{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-首頁{% endblock %}
{% block content %}
	<div class="row">
    	<div class="col-12">
    	<center>
    	<h2 class='text-white'>登革熱監測網</h2>
    	<div class='text-dark'>
    	<label class='text-white'>城市:</label>
    	<select>
    	<option>請選擇城市:</option>
    	<option>Dog</option>
    	<option>Cat</option>
    	<option>Hamster</option>
   	 	<option>Parrot</option>
    	<option>Spider</option>
    	<option>Goldfish</option>
		</select>
    	<label class='text-white'>地區:</label>
    	<select>
    	<option>請選擇地區</option>
    	<option>Dog</option>
    	<option>Cat</option>
    	<option>Hamster</option>
   	 	<option>Parrot</option>
    	<option>Spider</option>
    	<option>Goldfish</option>
		</select>
    	<label class='text-white'>觀測站:</label>
    	<select>
    	<option>請選擇觀測站</option>
    	<option>Dog</option>
    	<option>Cat</option>
    	<option>Hamster</option>
   	 	<option>Parrot</option>
    	<option>Spider</option>
    	<option>Goldfish</option>
		</select>
    	<input type="submit" name="station" class='btn-primary'>
    	</div>
    			</center>
    	<br>
    			<div class="panel bg-secondary text-white">
    					<div class="panel-heading panel-success bg-info">
    						<p>登革熱監測地圖</p>
    					</div>
    					<div class="panel-body bg-info">
    							{%　load static %}
    						<img src="{% static 'main/img/maps.PNG' %}" width=100%>
    					</div>
    			</div>	
    	</div>
    </div>
    <hr>
    <div class="row d-flex justify-content-around">
    	<div class="col-3">
    				<div class="panel panel-success">
    					<div class="panel-heading">
    					<p>歷史資料</p>
    					</div>
    					<div class="panel-body">
    					<img src="{% static 'main/img/history_record.jpg' %}" width=100%>
    					</div>
    				</div>	
    	</div>
    	<div class="col-3">
    				<div class="panel panel-info">
    					<div class="panel-heading">
    					<p>粉絲團</p>
    					</div>
    					<div class="panel-body">
    					<img src="{% static 'main/img/fans.png' %}" width=100%>
    					</div>
    				</div>	
    	</div>
    	<div class="col-3">
    				<div class="panel panel-danger">
    					<div class="panel-heading">
    					<p>我們位址</p>
    					</div>
    					<div class="panel-body">
    					<img src="{% static 'main/img/address.JPG.png' %}" width=100%>
    					</div>
    				</div>	
    	</div>
    </div>	
{% endblock %}