{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-首頁{% endblock %}
{% block content %}
	{% load static %}
	
	<div class="container">
  	<h1 class="text-dark">登革熱病媒蚊監測網</h1>
  		<div class="gallery-wrap">
   			<a class="item item-1" href="{% url 'main:main' %}"></a>
    		<a class="item item-2" href="{% url 'main:realtime' %}"></a>
    		<a class="item item-3" href="{% url 'main:sort' %}"></a>
    		<a class="item item-4" href="{% url 'main:main' %}"></a>
  		</div>
	</div>
	<div class="jumbotron" id="luke">
		<div class="container text-dark">
			<p id="luke4">本作品名稱為登革熱病媒蚊偵測系統。登革熱在2014年.2015年在臺灣造成了15492例及43419例的確診病例後，我們不得不再次面對這嚴峻的全球議題。與新冠肺炎一樣皆為傳染病，不同的是至今為止，登革熱仍沒有特效藥物可治療，僅能依靠支持性療法。因此在藥物尚未問世前，登革熱的預防顯得格外重要，除了加強宣導「巡、倒、清、刷」的觀念及徹底落實積水容器清除以杜絕形成孳生源…等之外，透過軟硬體應用對登革熱病媒蚊進行監測、分析，在登革熱預防上能發揮出莫大的防疫成效。
			</p>
		</div>
	</div>
{% endblock %}