{% extends 'main/base.html' %}
{% block title %}登革熱病媒蚊監測網-分類表{% endblock %}
{% block content %}
	<h2 style="text-align:left" class="text-dark">選擇欲查詢的監測站:</h2>
	<div class="row" style="font-size:2em;">
		<div class="col-4">
			<div class="panel panel-success">
    					<div class="panel-heading">
    					<p>北部</p>
    					</div>
    					<div class="panel-body">
    						<ul>
    							<li><a href="{% url 'main:government_data' %}">臺北</a></li>
    							<li><a href="{% url 'main:main' %}">關渡</a></li>
    							<li><a href="{% url 'main:main' %}">三重</a></li>
    							<li><a href="{% url 'main:main' %}">宜蘭</a></li>
    							<li><a href="{% url 'main:main' %}">桃園</a></li>
    							<li><a href="{% url 'main:main' %}">淡水</a></li>
    							<li><a href="{% url 'main:main' %}">中山</a></li>
    							<li><a href="{% url 'main:main' %}">大安</a></li>
    							<li><a href="{% url 'main:main' %}">中和</a></li>
    							<li><a href="{% url 'main:main' %}">關渡</a></li>
    							<li><a href="{% url 'main:main' %}">三重</a></li>
    							<li><a href="{% url 'main:main' %}">宜蘭</a></li>
    							<li><a href="{% url 'main:main' %}">桃園</a></li>
    							<li><a href="{% url 'main:main' %}">淡水</a></li>
    							<li><a href="{% url 'main:main' %}">中山</a></li>
    							<li><a href="{% url 'main:main' %}">大安</a></li>
    							<li><a href="{% url 'main:main' %}">中和</a></li>
    							<li><a href="{% url 'main:main' %}">關渡</a></li>
    							<li><a href="{% url 'main:main' %}">三重</a></li>
    							<li><a href="{% url 'main:main' %}">宜蘭</a></li>
    							<li><a href="{% url 'main:main' %}">桃園</a></li>
    							<li><a href="{% url 'main:main' %}">淡水</a></li>
    							<li><a href="{% url 'main:main' %}">中山</a></li>
    							<li><a href="{% url 'main:main' %}">大安</a></li>
    							<li><a href="{% url 'main:main' %}">中和</a></li>
    						</ul>
    					</div>
    		</div>	
		</div>
		<div class="col-4">
			<div class="panel panel-success">
    					<div class="panel-heading">
    					<p>中部</p>
    					</div>
    					<div class="panel-body">
    						<li><a href="{% url 'main:main' %}">臺中</a></li>
    						<li><a href="{% url 'main:main' %}">豐原</a></li>
    						<li><a href="{% url 'main:main' %}">東勢</a></li>
    						<li><a href="{% url 'main:main' %}">大甲</a></li>
    						<li><a href="{% url 'main:main' %}">清水</a></li>
    						<li><a href="{% url 'main:main' %}">沙鹿</a></li>
    						<li><a href="{% url 'main:main' %}">梧棲</a></li>
    						<li><a href="{% url 'main:main' %}">大雅</a></li>
    					</div>
    		</div>
		</div>
		<div class="col-4">
			<div class="panel panel-success">
    					<div class="panel-heading">
    					<p>南部</p>
    					</div>
    					<div class="panel-body">
    						<li><a href="{% url 'main:main' %}">新港</a></li>
    						<li><a href="{% url 'main:main' %}">溪口</a></li>
    						<li><a href="{% url 'main:main' %}">東石</a></li>
    						<li><a href="{% url 'main:main' %}">梅山</a></li>
    						<li><a href="{% url 'main:main' %}">鹿草</a></li>
    						<li><a href="{% url 'main:main' %}">番路</a></li>
    						<li><a href="{% url 'main:main' %}">六腳</a></li>
    						<li><a href="{% url 'main:main' %}">斗六</a></li>
    						<li><a href="{% url 'main:main' %}">虎尾</a></li>
    					</div>
    		</div>
		</div>
	</div>
{% endblock %}